/*Seccion Categorias*/

.categorias {

    div {

        text-align: center;

        a {

            img {

                height: 250px;
                width: 250px;
                padding: 20px;
                display: inline-flex;
                justify-content: center;
                flex-wrap: wrap;

                @media (max-width: 425px) {

                    height: 180px;
                    width: 180px;
                }


                @media only screen and (min-width: 425px) and (max-width:768px) {}
                height: 200px;
                width: 200px;



            }

        }

    }
}