/*Seccion Categorias*/

.categorias {

    div {

        text-align: center;

        a {

            img {

                height: 250px;
                width: 250px;
                padding: 20px;
                display: inline-flex;
                justify-content: center;
                flex-wrap: wrap;


            }

        }

    }
}