/*Seccion Conocenos*/

@import "fonts";
@import "extends";
@import "media";


.conocenos {
    margin-bottom: 40px;

    div {
        div {
            div {
                img {


                    height: $alto-flia;
                    width: $ancho-flia;

                    @media only screen and (min-width: 425px) and (max-width:768px) {
                        height: 300px;
                        width: 450px;
                    margin-left: 20%;
                    padding-bottom: 15px;
                    }



                }
                
            }

            div {

                p {

                    font-size: 1rem;
                    font-weight: bold;
                    padding-left: 30px;
                    text-align: justify;
                    @extend %font-style;

                    @media (max-width: 425px) {
                        font-size: 10px;
                        padding-left: 0;
                        padding-top: 5px;
                    }

                    @media only screen and (min-width: 425px) and (max-width:768px) {
                        font-size: 18px;
                    }
                }

            }


        }
    }

}