/*Contacto*/

.bodyContacto {
background-color: #FDFAF6;

}


.contacto {
    width: 70%;
    margin-left: 20%;
   
}

.labelcontacto {
    font-weight: bold;
}

.buttonEnviar {

    width: 100px;
    margin-bottom: 27px;
}

