/* Media Query */
@import "variables";


@media (max-width: 425px) {

    .nav-item {
        font-weight: bolder;
        height: 40px;
        width: 60px;
        font-size: 1rem;
    }

    .logo {
        height: 30px;
        width: 30px;
    }

    .h2 {
        font-size: 15px;
    }

   

    .fotoFlia {
        height: $alto-flia - 50%;
        width: $ancho-flia - 50%;

    }

   

    .telasP {
        font-size: 5px;
    }

    .whatsApp {
        position: fixed;
        bottom: 10px;
        left: 95%;
        height: 25px;
        width: 25px;
    }

    .fotoTienda {
        transition: none;
    }


    .fotoTienda:hover {
        transform: none;
    }



}

@media only screen and (min-width: 425px) and (max-width:768px) {
    .quienesTexto {
        font-size: 15px;
    }

    h2 {
        font-size: 15px;
    }

    .fotoFlia {
        height: $alto-flia - 25%;
        width: $ancho-flia - 25%;

    }

    .fotoCategoria {
        height: 80px;
        width: 80px;
    }

    .fotoTela {
        height: 120px;
        width: 120px;
    }

    .telasP {
        font-size: 10px;
    }

    .whatsApp {
        position: fixed;
        bottom: 10px;
        left: 95%;
        height: 50px;
        width: 50px;
    }

    .fotoTienda {
        transition: none;
    }


    .fotoTienda:hover {
        transform: none;
    }

}