/* Media Query */
@import "variables";


@media (max-width: 425px) {

    .nav-item {
        font-weight: bolder;
        height: 40px;
        width: 200px;
        font-size: 1rem;
        background-color: white;  
        z-index: 10;      
    }

        .logo {
        height: 120px;
        width: 120px;
        position: relative;
        top: 5px;
        right: 33px;

    }

    .navbar {
        height: 150px;
    }

    .redesTop {
        padding-top: 0px;
      
    }

    h1 {
        padding-top: 20px;
        font-size: medium;
    }

   
    .header {
        height: 160px;
    }


    .fotoFlia {
        height: $alto-flia - 50%;
        width: $ancho-flia - 50%;

    }

    .carousel {
        width: 100vh!important;
    }



   
    .whatsApp {
        position: fixed;
        bottom: 10px;
        left: 95%;
        height: 25px;
        width: 25px;
    }


    // contacto

    .textArea {
        height: 200px;
        width: 250px;
        padding: 0;
    }


// Tienda

.rowTienda {
    margin-right: 0;
    margin-left: 0;
}

.col {
    margin-bottom: 10px;
}

    .fotoTienda {
        transition: none;
    }


    .fotoTienda:hover {
        transform: none;
    }



}

@media only screen and (min-width: 425px) and (max-width:768px) {

.header {

    height: 150px;
}

.redesTop {
    padding-top: 0;
}

.redes {
    height: 30px;
    width: 30px;
}

   .footer {
       position: fixed;
       bottom: 0;
     width: 100vh;
   }
    .nav-item {
        font-weight: bolder;
        height: 40px;
        width: 200px;
        font-size: 1rem;
        background-color: white;  
        z-index: 10;      
    }


    .logo {
        height: 120px;
        width: 120px;
        position: relative;
        top: 5px;
        right: 33px;
    }

    h1 {
        padding-top: 35px;
    }
    

    h2 {
        font-size: 25px;
    }

   

   
    .fotoTela {
        height: 120px;
        width: 120px;
    }

  

    .carousel {
        width: 100vh!important;
    }

    

    .whatsApp {
        position: fixed;
        bottom: 10px;
        left: 95%;
        height: 50px;
        width: 50px;
    }

    // contacto

    .textArea {
       margin-left: 5px;
    }


    // Tienda
    .col {
        margin-bottom: 10px;
    }

    .rowTienda {
        margin-right: 0;
        margin-left: 0;
    }
    

    .fotoTienda {
        transition: none;
    }


    .fotoTienda:hover {
        transform: none;
    }

}