/*Sections*/
hr {

    border-top: 1px solid #070318;
    width: 30%;
    margin: 0 auto;
}




.quienesSomos {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(34, 33, 33);
}

h2 {
    text-align: center;
    padding-bottom: 15px;
    font-size: 35px;
    color: rgb(61, 58, 58);
}

h3 {

    color: rgb(59, 59, 61);
    font-size: 28px;
    text-align: center;

}

p {
    font-family: 'Poppins', sans-serif;
}