/*Seccion Telas*/
@import "extends";
@import "media";
@import "variables";

.fotoTela {

    height: 250px;
    width: 250px;
   
    @media (max-width: 425px) {
        height: 150px;
        width: 150px;
    }

    
}


.fontStyle {


 
    letter-spacing: 1px;
    color: rgb(12, 11, 11);
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    
    @media (max-width: 425px) {
        font-size: 10px;
    }

   






}

.containerTela {
    width: 90%;
}

.cardTelas {
    border: none;
}

